@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: linear-gradient(
      90deg,
      rgba(217, 244, 245, 0.3074404761904762) 0%,
      rgba(174, 196, 235, 0.3550595238095238) 40%,
      rgba(234, 180, 180, 0.3477766106442577) 100%
    );

    --foreground: 224 71.4% 4.1%;
    --link-hover: #475569;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220, 14%, 96%;
    --primary-foreground: 210 20% 98%;

    --secondary: 0, 0%, 100%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --image: 0.9;
    --h1: #4e31aa;
    --h2: #64748b;
    --h3: #4e31aa;
    --secondary-200: #e5e7eb;
    --secondary-300: #d6d7e9;
    --border: rgba(0, 0, 0, 0.2);

    --color: hsl(0, 0%, 24%);
    --radius: 0.5rem;
    --font-color: black;
    --blue-hover: rgba(119, 162, 247, 0.5);
    --red-hover: rgba(202, 102, 93, 0.5);
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --link-hover: #94a3b8;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 216, 39%, 14%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 224 71.4% 4.1%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --h1: rgb(226, 232, 240);
    --h2: #f1f5f9ae;
    --h3: #633edc;

    --color: hsl(216, 22%, 82%);
    --secondary-200: #27374d;
    --secondary-300: #526d82;
    --secondary-300-hover: #435d71;
    --image: 0.4;
    --border: rgba(255, 255, 255, 0.5);
    --font-color: white;
    --blue-hover: rgba(35, 59, 107, 0.8);
    --red-hover: rgba(171, 20, 6, 0.5);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: #59ab6e !important;
}

#scroll::-webkit-scrollbar {
  display: none;
}
